<div class="pdf-dialog">
  <div class="dialog-header">
    <h2>
      <mat-icon>{{
        data.tipo === "salidas" ? "list_alt" : "emoji_events"
      }}</mat-icon>
      {{ data.titulo }}
    </h2>
    <div class="actions">
      <a
        [href]="data.url"
        target="_blank"
        mat-icon-button
        title="Abrir en nueva pestaña"
      >
        <mat-icon>open_in_new</mat-icon>
      </a>
      <a [href]="data.url" download mat-icon-button title="Descargar PDF">
        <mat-icon>download</mat-icon>
      </a>
      <button mat-icon-button (click)="cerrar()" title="Cerrar">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="pdf-container">
    <iframe [src]="pdfUrl" frameborder="0" class="pdf-iframe"></iframe>

    <div class="pdf-fallback">
      <mat-icon>picture_as_pdf</mat-icon>
      <p>No se puede mostrar el PDF en el navegador</p>
      <a [href]="data.url" target="_blank" mat-raised-button color="primary">
        <mat-icon>open_in_new</mat-icon>
        Abrir PDF en nueva pestaña
      </a>
      <a [href]="data.url" download mat-raised-button color="accent">
        <mat-icon>download</mat-icon>
        Descargar PDF
      </a>
    </div>
  </div>
</div>
