@use '@angular/material' as mat;

// Paleta inspirada en tonos de mar: azules profundos y acentos turquesa
$primary: mat.m2-define-palette(mat.$m2-blue-palette, 500, 300, 700);
$accent: mat.m2-define-palette(mat.$m2-teal-palette, 400, 200, 600);
$warn: mat.m2-define-palette(mat.$m2-deep-orange-palette);
