/* ===========================================================
   VARIABLES DE COLOR – MODO CLARO Y OSCURO
   =========================================================== */

:root {
  /* Modo claro */
  --color-bg: #f5f5f5;
  --color-surface: #ffffff;
  --color-text: #212121;

  --masculino-bg: #e3f2fd;
  --masculino-border: #2196f3;
  --masculino-text: #1976d2;

  --femenino-bg: #fce4ec;
  --femenino-border: #e91e63;
  --femenino-text: #c2185b;

  --evento-bg: #ffffff;
  --evento-bg-alt: #fafafa;

  --link-salidas-bg: #e8f5e9;
  --link-resultados-bg: #fff8e1;
}

/* ===========================================================
   MODO OSCURO
   =========================================================== */
.dark-theme {
  --color-bg: #121212;
  --color-surface: #000000;
  --color-text: #e0e0e0;    

  --masculino-bg: #262d7e; /* azul oscuro */
  --masculino-border: #64b5f6;
  --masculino-text: #90caf9;

  --femenino-bg: #f7459e; /* púrpura oscuro */
  --femenino-border: #f48fb1;
  --femenino-text: #f8bbd0;

  --evento-bg: #2c2c2c;
  --evento-bg-alt: #1f1f1f;

  --link-salidas-bg: #ccffcd;
  --link-resultados-bg: #feffc1;
}
